<h1>Archived</h1>


<div>
	<h2>Officers</h2>

	<% @deleted_officers.each do |of| %>
		<p><%= of.name %></p>

	<% end %>

	<h2>Committee Members</h2>

	<% CommitteeMember.only_deleted do |mem| %>
		<p><%= mem.name %></p>
	<% end %>
</div>

