<head>
	<%= stylesheet_link_tag 'main' %>
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Numans|Questrial|Roboto" rel="stylesheet">
</head>

<body class="archives">

	<h1>Archived</h1>

	<div>
		<h2>Officers</h2>

		<% @deleted_officers.each do |of| %>
			<p><%= of.name %></p>

		<% end %>

		<h2>Committee Members</h2>

		<% @deleted_committee_members.each do |mem| %>
			<p><%= mem.name %></p>
		<% end %>
	</div>

</body>